<div class="content-data stacked">
  <div class="widget_header"><i class="icon-road"></i>

    <h3>AuditTrails</h3>
  </div>
  <div class="widget_container">
    <table class="table table-bordered tablesorter">
      <thead>
      <tr>
        <th class="inline_30">Id</th>
        <th>Activity</th>
        <th class="inline_80">Activity on</th>
        <th data-sort="false">Parameters changes</th>
        <th class="inline_80">Ip Address</th>
        <th class="inline_80">Activity by</th>
      </tr>
      </thead>
      <tbody>
      <% if @activities.count <= 0 %>
          <tr>
            <td colspan="4">No audit trail available.</td>
          </tr>
      <% else %>
          <% @activities.each do |activity| %>
              <tr>
                <td><%= activity.id %></td>
                <td><%= activity.key %></td>
                <td><%= activity.recipient_type %>(<%= activity.recipient_id %>)</td>
                <td><%= YAML.load(activity.parameters) %></td>
                <td><%= activity.ip_address %></td>
                <td><%= User.find(activity.user_id).username rescue 'no user' %></td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @activities %>
  </div>
</div>
<% @sql ||= 0 %>

<%= link_to 'Load More...', audit_trails.root_url(sql: @sql), remote: true if @activities.total_pages == @activities.current_page and !@sql.nil? %>
